# 01. intro

## shortcut

- ctrl + enter : 현재 셀 반복 실행
- shift + enter : 현재 셀 실행 후 다음 셀로 이동
- alt + enter : 현재 셀 실행 후 다음에 신규 셀 추가

## 주의사항

1. Apple / apple (대소문자 주의)
2. git add . (o) / git add. (x)
3. message / massage (오탈자 주의)
4. value1, value2 (o) / value1 ,value2 (x)

In [163]:
# 여기는 주석입니다. python이 읽지 않습니다.

## 1. 변수

 변수이름 = 값

- 변수이름은 어떤 이름이든 사용 가능
- 단 영어(소문자), 숫자, _를 이용하여 선언
    - 변하지 않는 데이터는 대문자를 통해 표현
- 키워드는 사용 불가

In [164]:
a = 30

In [165]:
a

30

In [166]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [167]:
seoul_dust_rate = 10

### 1.1 number

In [168]:
a = 100000

In [169]:
a

100000

In [170]:
type(a)

int

In [171]:
b = 1.1

In [172]:
b

1.1

In [173]:
type(b)

float

In [174]:
c = 1 - 4j

In [175]:
c

(1-4j)

In [176]:
type(c)

complex

## 1.2 boolean

True, False 로 이루어진 타입 (0,1)
조건문을 다룰때 사용 (if문) (분기문)

In [177]:
a = True

In [178]:
a

True

In [179]:
type (a)

bool

In [180]:
b = False

In [181]:
b

False

In [182]:
type (b)

bool

> cf. 컴퓨터란? 저장, 반복, 계산의 3형식으로 이루어져 있습니다.

## 1.3 None

In [183]:
a = None

In [184]:
type(a)

NoneType

> cf. 0과 None의 차이

## 1.4 String

- 문자열은 `'`, `"`를 이용하여 표현

In [185]:
a = 'hello'

In [186]:
type(a)

str

b = "world"

In [187]:
type(b)

bool

> cf. 일관성 있는 표기를 위해 둘 중 하나를 지정하여 사용하자.

In [203]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

> cf. input의 출력형태는 글자기때문에 print(type(age))가 str로 표시됨

In [204]:
# print('안녕하세요`오창희`입니다.`)
print('"안녕"하세요~')
print("'안녕'하세요~")

"안녕"하세요~
'안녕'하세요~

In [205]:
print('안녕하세요. \'오창희\'입니다.')

안녕하세요. '오창희'입니다.

> cf. 예외처리 할 부분 앞에 \(백슬레쉬)를 붙여준다.

In [206]:
a = '''
안녕하세요 '오창희'입니다.
줄바꿈도 문제 없습니다.
'''
print(a)

안녕하세요 '오창희'입니다.
줄바꿈도 문제 없습니다.

> cf. document string 으로 여러줄의 문서를 작성하기 위해 사용

In [207]:
print('안녕하세요.\n줄바꿈 이스케이프 문자열입니다. \t들여쓰기 이스케이프 문자열입니다.')

안녕하세요.
줄바꿈 이스케이프 문자열입니다. 	들여쓰기 이스케이프 문자열입니다.

### string interpolation
1. %-formatting
2. str.format()
3. f-string

In [208]:
age = 10

In [209]:
print('홍길동은 %s살 입니다.' % age)

홍길동은 10살 입니다.

In [210]:
print('홍길동은 {}살 입니다.'.format(age))

홍길동은 10살 입니다.

In [211]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 2. 연산자
### 2.1 산술연산자

In [212]:
a = 9
b = 4

In [213]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)

13
5
36
2.25
6561
2

In [214]:
#a를 b로 나눈 몫
print(a // b)
#a를 b로 나눈 나머지
print(a % b)
#보너스 : 몫과 나머지를 같이 출력해주는 함수
print(divmod(a,b))

2
1
(2, 1)

### 2.2 비교연산자

In [215]:
a = 5
b = 10

In [216]:
print (a > b)
print (a < b)
print (a >= b)
print (a <= b)

False
True
False
True

In [217]:
print(1 == 2)
print(a != b)

False
True

In [218]:
print ('hi' == 'hi')
print ('Hi' == 'hi')

True
False

### 2.3 논리 연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환하는 기능

In [219]:
print(True and True)
print(True and False)
print (False and True)
print(False and False)

True
False
False
False

In [220]:
print (True or True)
print (True or False)
print (False or True)
print (False or False)

True
True
True
False

In [221]:
# 변수 앞에 not을 취하는 경우가 더 많다.
result = True
print(not result)

False

In [222]:
# and 단축평가

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [223]:
#or 단축평가

print (3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 2.4 복합연산자

In [224]:
a = 1
b = 2

In [225]:
a = a + b
a = a - b
a = a * b
a = a / b

In [226]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타 연산자

In [227]:
a = 'hi'
b = 'hello'

In [228]:
# concatenation
print(a + b)

hihello

In [229]:
a = [1,2,3]
b = [4,5,6]

In [230]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [231]:
#containment: 포함되어 있는지를 묻는다.
print (1 in a)
print (2 in b)

True
False

In [232]:
# identity

a = -5
b = -5

print(a == b)
print(a is b)

True
True

In [233]:
a = 12341234
b = 12341234
# is는 메모리값을 비교하는 장치, 파이썬은 -5~256까지는 같은 메모리를 사용함.
print(a == b)
print(a is b)

True
False

#### 우선순위

0. ()를 통한 그룹핑
1. ** (~승)
2. 산술연산자 (*,/)
3. 산술연산자 (+,-)
4. 비교연산자,in, is
5. not
6. and
7. or

In [234]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [235]:
a = True
b = False
c = 1

In [236]:
print(a + b)
print (b - c)

1
-1

In [237]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [238]:
print(int_num + float_num)
print(float_num + complex_num)
print(type(float_num + complex_num))

6.3
(6.3+3j)
<class 'complex'>

### 3.2 명시적 형변환

- int() : string, float -> int
- float() : string, int -> float
- str() : int, float -> string
- bool() : int,float, string -> bool

> ※ 상호 호환 가능할때만 명시적 형변환 가능

In [239]:
a = 1
b = '번'

In [240]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [241]:
print(b + a)

TypeError: can only concatenate str (not "int") to str

In [242]:
print(str(a) + b)

1번

In [245]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [246]:
a = '3.3'
print(float(a))

3.3

In [247]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [248]:
print(bool([]))
print(bool([1,2,3]))

False
True

## 4. 시퀀스 자료형

- 시퀀스는 데이터의 순서대로 나열된 자료구조
    - 순서대로 나열되었다는 것은 정렬과는 다른 의미임
 
1. List
2. Tuple
3. Range
4. String

### 4.1 List (리스트, 배열, array)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [250]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [260]:
# 상관관계가 있는 데이터들을 표현할때 배열을 사용한다.
location = ['서울', '대전', '부산']
print(location)
print(location[0])

location[1] = '광주' #변수에 값을 새롭게 할당
print(location[1])
print(location)

['서울', '대전', '부산']
서울
광주
['서울', '광주', '부산']

### 4.2 Tuple (튜플)

- 선언 : 변수이름 = (value1, value2, value3 ...)
- 접근 : 변수이름[index]
    - ※ 튜플은 리스트와 유사하지만 변수에 값을 새롭게 할당하는 수정이 불가하다. (immutable)
    - 예시) type(divmod(a,b)) -> 'tuple'
    - print(result[0] + result[1]) -> 접근법 리스트와 동일

In [261]:
numbers = (1,2,3)
print(numbers)
print(numbers[1])

(1, 2, 3)
2

In [262]:
numbers[1] = 8

TypeError: 'tuple' object does not support item assignment

In [265]:
x, y = (1, 2)
print (x, y)
x,y = y, x
print (x, y)

1 2
2 1

### 4.3 Range

1. range(n) : 0부터 n-1까지의 범위 (0부터 시작하는게 전제)
2. range(n, m) : n부터 m-1까지의 범위 (시작점과 끝점 제시)
3. range(n, m, s) : n부터 m-1까지 +s 만큼 증가하는 범위

In [272]:
#1
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [269]:
#2
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [271]:
#3
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [273]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 String

기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [280]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [281]:
# 시퀀스 데이터는 모두 indexing이 가능하다.
print(my_list[0])
print(my_list[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [282]:
# 시퀀스 데이터는 일부만 slicing해서 볼 수 있다. a:b
print(my_list[1:3]) # 1이상 3미만
print(my_tuple[1:3]) # 1<= x < 3
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [286]:
# in
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

# not in
print(1 not in my_range)

True
True
True
False

In [292]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [298]:
# *
print('#'*50)
print([0] * 20)

##################################################
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [299]:
print(len(my_list))

5

In [300]:
print(max(my_list))

5

In [301]:
print(min(my_list))

1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [309]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [310]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b) # +의 의미
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [311]:
test_set = {1,2,3,4,5,2,3,6,3,1,2,3,4}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

> 데이터를 순서대로 정리?하는게 목적이 아닌 키:값(키워드:정의)의 사전구조로 이루어짐

In [312]:
my_dict = {'서울': '02', '경기': '031', '대전': '042'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031', '대전': '042'}
02

In [317]:
my_info = {
    'name' : 'J.A',
    'location' : 'Daejeon',
    'birth_year' : 1994,
    'country' : 'South Korea'
}

print(my_info['country'])

South Korea

In [321]:
my_info.keys() #키워드 목록을 보여줌

dict_keys(['name', 'location', 'birth_year', 'country'])

In [322]:
my_info.values() #값 목록을 보여줌

dict_values(['J.A', 'Daejeon', 1994, 'South Korea'])

#### 자료구조

- 시퀀스 자료형

1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형

1. {Set} : mutalbe
2.