# 제어문

## 조건문(if문)

1. if문은 반드시 일정한 참/거짓을 판단할 수 있는 '조건식'과 함께 사용된다.
    - `if <조건식>`
2. <조건식> `참트루`인 경우 `:(콜론)` 이후의 문장을 실행
3. <조건식> `거짓(False)`인 경우 `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행
```

In [86]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다~')
else:
    print('크리스마스가 아닙니다.')

 22

크리스마스가 아닙니다.

In [2]:
num = input('숫자만 입력해주세요')

result = int(num) % 2

if bool(result):
    print('홀수입니다')
else:
    print('짝수입니다')

숫자만 입력해주세요 222

짝수입니다

In [3]:
num = int(input())

if num % 2 == 1:
    print('홀수입니다')
else:
    print('짝수입니다')

 222

짝수입니다

In [4]:
num = int(input())

if num % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

 2222

짝수입니다

In [6]:
num = int(input()) #커널로 clear outputs of all cells 했다. 조건식 맞게 작성했는지 선생님거랑 확인하자.

if num % 2:
    print('홀수')
else:
    print('짝수')

 3222

홀수

### elif

```
if <조건식>:
    if 조건식이 참인경우
elif <조건식>:
    elif 조건식이 참인경우
...
else:
    위의 조건식이 하나도 부합하지 않는 경우

```

In [12]:
score = int(input())

 94

In [9]:
#90점 이상 A
#80~89 B
#70~79 C
#나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif score >= 70 and score <= 79:
    print('C')
else:
    print('F')

A

In [13]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')

A

### 조건표현식 (지양)
```
true_value **if** <조건식> **else** false_value
```

In [15]:
print('True') if 1 < 0 else print('False')

False

In [16]:
if 1 > 0:
    print('True')
else:
    print('False')

True

In [17]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [21]:
num =5

if num >= 0:
    print(value) #value = num
else:
    print('0') #value = 0
#print(value)

5

In [22]:
num = 3

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

홀수

In [23]:
num = 3
result = '홀수' if num % 2 else '짝수'
print(result)

홀수

## 반복문

### while문

```
while <조건식>:
    실행할 코드
```

반복문 탈출시켜줘! 반복 탈출 기준점 제시

In [25]:
a = 0

while a < 5:
    print(a)
    a += 1 #복합연산자 (a = a+1 과 동일한 의미)

0
1
2
3
4

In [26]:
greeting = ''

while greeting != '안녕':
   greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 싫어
안녕이라고 말해줘 시ㅀ어!
안녕이라고 말해줘 실ㅎ다고!
안녕이라고 말해줘 안녕

### for

- 정해진 범위 내의 반복
- 리스트 자료형의 요소요소를 꺼내와서 반복한다?

```
for variable(item) in sequence:
    code
```

In [28]:
numbers = [1, 2, 3, 4, 5] #리스트

for number in numbers:
    print(number)

1
2
3
4
5

In [30]:
word = input('단어를 입력해주세요') #String

for char in word:
    print(char)

단어를 입력해주세요 asdf

a
s
d
f

In [31]:
for i in range(5): #range
   print(i)

0
1
2
3
4

In [32]:
for i in (1,2,3,4,5): #Tuple
    print(i)

1
2
3
4
5

In [35]:
#1~30까지 숫자 중에서 홀수만 출력해보쟈?

for i in range(1, 31):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [36]:
#선생님 코드

numbers = range(31)

for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [38]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus): #인덱스를 달아서 튜플 형태로 출력해줌?
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [40]:
menus = ('라면', '김밥', '백반')
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [42]:
menus = '한중일양'
for menu in enumerate(menus):
    print(menu)

(0, '한')
(1, '중')
(2, '일')
(3, '양')

In [43]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
한
1
중
2
일
3
양

## Dictionary 반복문

1.for key in dict:
2.for key in dict.keys():
3.gg
4.gg

In [45]:
info = {
    'name' : 'jeongah',
    'location' : 'Gyeonggi',
    'phone' : '010-0000-0000',
    'age' : 20,    
}

In [47]:
for cat in info:
    print(cat)
    print(info[cat])

name
jeongah
location
Gyeonggi
phone
010-0000-0000
age
20

In [49]:
info.keys() #info라는 딕셔너리가 .~기능을 수행한다.

dict_keys(['name', 'location', 'phone', 'age'])

In [50]:
for key in info.keys():
    print(key)
    print(info[key])

name
jeongah
location
Gyeonggi
phone
010-0000-0000
age
20

In [51]:
for value in info.values():
    print(value)

jeongah
Gyeonggi
010-0000-0000
20

In [52]:
info.values()

dict_values(['jeongah', 'Gyeonggi', '010-0000-0000', 20])

In [53]:
for key, value in info.items():
    print(key, value)

name jeongah
location Gyeonggi
phone 010-0000-0000
age 20

In [59]:
blood_type = {
    'A' : 5,
    'B' : 10,
    'O' : 7,
    'AB' : 2,
}

In [64]:
#혈액형의 종류는 ?? ?? 입니다.
print ('혈액형의 종류는', end = ' ')
for key in blood_type.keys():
    print(key, end = ' ')
print ('가 있습니다.')

혈액형의 종류는 A B O AB 가 있습니다.

In [67]:
# 총 학생수는 몇명입니다.
result = 0
for value in blood_type.values():
    result = result + value


print(f'총 학생수는 {result}명입니다.')

총 학생수는 24명입니다.

## break

반복문을 종료시키는 키워드 (if와 조합하여 사용)

In [69]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [72]:
rice = ['보리','보리', '보리', '보리', '보리', '쌀']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다!')
        break

보리
보리
보리
보리
보리
쌀
잡았다!

In [73]:
i = 0

while True:
    if rice[i] == '쌀':
        print('잡았다!')
        break
    print(rice[i])
    i += 1

보리
보리
보리
보리
보리
잡았다!

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행 (skip)

In [75]:
for i in range(20):
    if i % 2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [78]:
ages = [9, 11, 20, 38, 17, 92, 45, 74]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은성인입니다.')

20살은성인입니다.
38살은성인입니다.
92살은성인입니다.
45살은성인입니다.
74살은성인입니다.

### else

else문은 끝가지 반복된 후 실행됩니다. (=break를 만나지 않았을 때 실행됩니다.)

In [81]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5

### pass

In [82]:
# 임시 작성시 활용, 에러 안나게 임의로 작성
if True:
    pass

### match - case

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [83]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('meh')

bad