In [4]:
#객체가 가지고 있는 기능을 학습

print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# 문자열 메소드

In [5]:
a = 'hello my name is Jeong'

In [6]:
print(a)

hello my name is Jeong

In [9]:
#immutable 데이터는 수정할 수 없는 데이터기 때문에 a[0] = 'H' 적용이 안된다.
print(a.capitalize())

Hello my name is jeong

In [13]:
#상동 기능
print(a.title())
#모든 글자를 대문자로
print(a.upper())
#모든 글자를 소문자로
print(a.lower())

Hello My Name Is Jeong
HELLO MY NAME IS JEONG
hello my name is jeong

In [17]:
a = a.upper() #재할당

In [18]:
#메소드는 원본을 수정하지 않는다.
print(a)

HELLO MY NAME IS JEONG

In [20]:
#join
my_list = ['my', 'name', 'is']
print(' '.join(my_list))

my name is

In [23]:
#strip
my_string = '             hi \n '
print(my_string)
print(my_string.strip())


my_string2 = '----------hello-----------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))

             hi

hi
hello
hello-----------
----------hello

In [27]:
#replace
a = 'wooooooow'
print(a.replace('o', '*', )) #무엇을,무엇으로,몇개

w*******w

In [29]:
#find: 문자열의 위치를 찾아준다.
a = 'apple'
print(a.find('a'))
print(a.find('m'))

0
-1

In [31]:
#우사 메쏘드인 index는 없는 데이터에 대해 -1이 아닌 error 발생
#쓰임세에 맞게 취사 선택하여 사용
a = 'apple'
print(a.index('a'))
print(a.index('p'))
print(a.index('m'))

0
1

ValueError: substring not found

In [36]:
#split
a = 'my_name_is_hong'
a.split('_')

['my', 'name', 'is', 'hong']

In [37]:
#갯수 세준다.
a = 'wooooo'
a.count('o')

5

# 리스트 메소드

In [38]:
numbers = [1, 7, 9, 11, 21, 47]

In [39]:
numbers.append(10)
print(numbers)

[1, 7, 9, 11, 21, 47, 10]

In [49]:
a = [99, 100]

numbers.extend(a)
print(numbers)
numbers = numbers + a
print(numbers)

[-100, 1, 7, 9, 11, 21, 47, 10, 99, 100, 99, 100, 99, 100]
[-100, 1, 7, 9, 11, 21, 47, 10, 99, 100, 99, 100, 99, 100, 99, 100]

In [50]:
numbers.insert(0,-100) #어디에(위치인자), 무엇을 넣을지
print(numbers)

[-100, -100, 1, 7, 9, 11, 21, 47, 10, 99, 100, 99, 100, 99, 100, 99, 100]

In [58]:
#remove(x): x를 찾아서 제거, 없으면 에러 출력
numbers.remove(-10)
print(numbers)

ValueError: list.remove(x): x not in list

In [62]:
#stack, cue한 데이터를 끄집어내서 연산 등에 활용
result = numbers.pop()
print(numbers, result)

numbers.pop(0)
print(numbers)

[7, 9, 11, 21, 47, 10, 99] 100
[9, 11, 21, 47, 10, 99]

![data_stack](https://zrr.kr/KjPA)

In [64]:
#오름차순 정렬
numbers.sort()
print(numbers)

numbers.sort(reverse = True) #내림차순
print(numbers)

[9, 10, 11, 21, 47, 99]
[99, 47, 21, 11, 10, 9]

In [74]:
#메쏘드와 함수의 차이 (메쏘드가 실제 데이터를 직접 바꾼다, 함수는 결과만 리턴해준다)
numbers = [5, 3, 7, 1, 8, 17, -10]

print(sorted(numbers))
print(numbers)
print(numbers.sort())
print(numbers)

[-10, 1, 3, 5, 7, 8, 17]
[5, 3, 7, 1, 8, 17, -10]
None
[-10, 1, 3, 5, 7, 8, 17]

In [79]:
my_eng = ['a', 'b', 'e', 'a', 'c']
my_kor = ['가', '나', '나', '라', '다']
my_eng.sort()
my_kor.sort()
#왜none이 뜨지

In [80]:
print(numbers)
numbers.reverse()
print(numbers)

[-10, 1, 3, 5, 7, 8, 17]
[17, 8, 7, 5, 3, 1, -10]

In [86]:
#slicing 놓쳤으니 채워넣쟈
print(numbers)
print(numbers[-2])
print(numbers[::-1])

[17, 8, 7, 5, 3, 1, -10]
1
[-10, 1, 3, 5, 7, 8, 17]

## list copy (리스트 카피)

In [87]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [88]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [89]:
origin_list[0] = 100

In [91]:
#값 자체가 아닌 주소를 공유하고 있다.
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [93]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] #슬라이싱 재할당...? 안와

origin_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [99]:
origin_list = [1, 2, [3, 4]] #2차원 리스트...n차원 리스트
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [102]:
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0]= 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## LIST COMPREHENSHION

In [108]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
# => [1, 8, 27 ... 1000] 세제곱

result = [] #원본데이터를 바꾸지 않되, 

for number in numbers: #반복문
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [115]:
result = [number ** 3 for number in numbers]
#result = [number1 ** 3, number2 ** 3, number3 ** 3 ....]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [116]:
# 짝수만 고르기

result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)
print(result)

[2, 4, 6, 8, 10]

In [119]:
#동일결과
#result = [(마지막에 읽는 값) number for number in numbers if number % 2 ==0]

#연습!
words = 'my name is jeong'

# -> my nm s jng (모음 제거)
#1. 반복문
#2. list comprehension
#3. 메소드

In [137]:
#1번: for/if 구조 사용
# 모음이 아닌 단어(자음)을 고른다.
# vowels = ['a', 'e', 'i', 'o', 'u']
# 동일한 시퀀스 타입, 단 mutable immutable은 다른가?

vowels = 'aeiou'
result = []

for word in words:
    if word not in vowels:
        result.append(word)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'j', 'n', 'g']
my nm s jng

In [139]:
#2번: 리스트 컴프리핸션

result = [word for word in words if word not in vowels]
print(result)
''.join([word for word in words if word not in vowels])

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'j', 'n', 'g']

'my nm s jng'

In [140]:
#3번: replace 매소드 활용 흑흑흑 넘어려워.미햬밓ㅁ마ㅓㅎㅇ

vowel = 'aeiou'

for word in vowels:
    words = words.replace(word,'')
    
print(words)

my nm s jng

# Dictionary 메소드

In [141]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'models': ['galaxy', 'LG gram', ''],
    'calls': {
        'aba': '01-1234-1234',
        'bba': '08-5678-5678',
    }
}

In [148]:
print(info ['age'])
print(info ['name'])
print(info['models'][0])
print(info['calls']['bba']) #key 값을 입력해줘야한다.

20
hong
galaxy
08-5678-5678

In [149]:
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

{'name': 'park', 'location': 'seoul', 'age': 20, 'models': ['galaxy', 'LG gram', ''], 'calls': {'aba': '01-1234-1234', 'bba': '08-5678-5678'}}
{'name': 'oh', 'location': 'seoul', 'age': 20, 'models': ['galaxy', 'LG gram', ''], 'calls': {'aba': '01-1234-1234', 'bba': '08-5678-5678'}}

In [150]:
age = info.pop('age')
print(info, age)

{'name': 'oh', 'location': 'seoul', 'models': ['galaxy', 'LG gram', ''], 'calls': {'aba': '01-1234-1234', 'bba': '08-5678-5678'}} 20

In [151]:
print(info.get('name'))
print(info['name'])

oh
oh

In [153]:
print(info.get('birth'))

None

In [171]:
# 연습문제 (하....)
blood_type = ['A', 'B', 'AB', 'O', 'AB', 'O']
result = {
    'A' : 0,
    'B' : 0,
    'AB' : 0,
    'O' : 0,
}


# -> blood_dict = 블러드 타입이 몇명인지 출력하는 딕셔너리 작성
#키값은 혈액형, 밸류는 카운트 혈액형

for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 1, 'B': 1, 'AB': 2, 'O': 2}

In [179]:
location = ['서울', '대전', '울산', '부산', '울산', '진주', 'LA', 'TOKYO']

#이 과정이 아니다...하하 키값을 알고 0부터 시작하는게 아닌 실제 조사를 하며 나아가야함
#result = {
#    '서울' : 0,
#    '대전' : 0,
#    '울산' : 0,
#    '부산' : 0,
#    '진주' : 0,
#}

result = {}

for lo in location:
    #result의 key에 lo가 있으면
    if result.get(lo):
        result[lo] += 1
    #result의 keydp lo가 없으면
    else:
        result [lo] = 1
print(result)

{'서울': 1, '대전': 1, '울산': 2, '부산': 1, '진주': 1, 'LA': 1, 'TOKYO': 1}

In [185]:
#방법:2

locations = ['서울', '대전', '울산', '부산', '울산', '진주', 'LA', 'TOKYO']

result = {}

for location in locations:
    result.update({location:locations.count(location)})
print(result)

{'서울': 1, '대전': 1, '울산': 2, '부산': 1, '진주': 1, 'LA': 1, 'TOKYO': 1}

## dict comprehension

In [187]:
# {1: 1, 2: 8, 3: 27, ... 10:1000}

result = {}
numbers = list(range(1,11))

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [188]:
result = {number: number ** 3 for number in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [194]:
#딕셔너리...
dust = {
    'seoul' : 50,
    'pusan' : 10,
    'Daejeon' : 70,
    'Gyeonggi' : 100,
    'Gwangju' : 120,
}

#result = 70 이상인 친구들 뽑아줘

result = {}

for key, value in dust.items():
    if value >= 70:
        result[key] = value
print(result)

{'Daejeon': 70, 'Gyeonggi': 100, 'Gwangju': 120}

In [196]:
# 2. comp
result = {k : '나쁨' for k, v in dust.items() if v >= 70}
print(result)

{'Daejeon': '나쁨', 'Gyeonggi': '나쁨', 'Gwangju': '나쁨'}

# 세트 메소드

In [228]:
#cf. set는 중복값을 없애서 표시한다.
fruits = {'apple', 'banana', 'melon'}

In [229]:
print(fruits)

{'melon', 'apple', 'banana'}

In [230]:
fruits.add('watermelon') # 단일 데이터 업데이트?
print(fruits)

{'watermelon', 'melon', 'apple', 'banana'}

In [232]:
# -> 복수 데이터 업데이트? (list의 extends랑 유사한 역할)
fruits.update({'grape', 'peach'})
print(fruits)

{'watermelon', 'melon', 'grape', 'banana', 'peach', 'apple'}

In [233]:
fruits.remove('apple')
print(fruits)

{'watermelon', 'melon', 'grape', 'banana', 'peach'}

In [238]:
fruits.pop()
print(fruits)

set()

## map, filter, zip
### map
- map (funtion/함수, iterable/범위) : 일정한 범위의 데이터를 넣어서 반복 작업을 대신?해준다.

In [240]:
# 반복 작업을 편하게 만들어주는 함수

numbers = [1, 2, 3, 4, 5]
# -> ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [241]:
result = map(str, numbers)
print(result)

<map object at 0x000001FA49719CF0>

In [243]:
print(list(result)) #위에 위치값을 숫자로 변경해서 보여줌

['1', '2', '3', '4', '5']

In [249]:
result = []
for number in numbers:
    result.append(number ** 3)
    print(result)
##결과이상해

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]

In [248]:
def triple(x):
    return x ** 3

result = map(triple, numbers)
print(list(result))

In [250]:
test_input = '1 3 5 7 9'
print(list((map(int ,test_input.split()))))

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)

In [251]:
def is_odd(x):
    return x % 2

In [255]:
numbers = [1, 2, 3, 4, 5]

reulst = []
for number in numbers:
    if number % 2:
        result.append(number)
print(result)

[1, 8, 27, 64, 125, 1, 3, 5]

In [256]:
## 계속 놓칮노...
result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

## zip

In [258]:
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000001FA49C3B9C0>
[(1, 100), (2, 200), (3, 300)]