# Error

## Syntax error (문법 에러)

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [2]:
print('hello

SyntaxError: unterminated string literal (detected at line 1) (3259792019.py, line 1)

In [3]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

# Exception

In [4]:
print(5/0)

ZeroDivisionError: division by zero

In [5]:
print(hello)

NameError: name 'hello' is not defined

In [6]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [8]:
import random
random.sample([75, 20, 98, 60, 5, 47, 4, 21, 90, 52], 2)

[20, 52]

In [9]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [10]:
numbers[100]

IndexError: list index out of range

In [11]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나',
}
my_dict['melon']

KeyError: 'melon'

In [12]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [13]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## 예외처리

```python
try:
    code
except 예외:
    code
```

In [17]:
try:
    num = int(input('숫자를 입력해주세요:'))
    print(f'{num}의 세제곱은 {num**3}입니다.')
    
except:
    #pass
    print ('숫자를 입력해주세요.')

숫자를 입력해주세요: 메롱

숫자를 입력해주세요.

In [20]:
try:
    num = int(input('100을 무엇으로 나누시겠습니까?'))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('숫자를 입력해주세요.')
except ZeroDivisionError:
    print('0으로는 숫자를 나눌 수 없습니다')

100을 무엇으로 나누시겠습니까? 0

0으로는 숫자를 나눌 수 없습니다

In [22]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])
except IndexError as err:
    print('out of index')
    print(err)

out of index
list index out of range

In [23]:
#else -> 예외를 일으키지 않을 때 실행되는 코드
try:
    numbers = [1, 2, 3]
    numbers [100]
except:
    print('오류입니다.')
else:
    print(num**3)

오류입니다.

In [24]:
# finally -> 예외와 상관없이 try의 모든 코드 실행 후 무조건 실행
try:
    numbers = [1, 2, 3]
    num = numbers[100]
except:
    print('오류입니다.')
finally:
    print('end')

오류입니다.
end

In [28]:
def my_div(num1, num2):
    try:
        return(num1 / num2)
    except (ValueError, TypeError):
        return '숫자를 입력하세요'
    except ZeroDivisionError:
        return '0으로는 숫자를 나눌 수 없습니다.'
    except:
        return '예상하지 못한 오류가 발생했습니다.'
print(my_div('2',2))

숫자를 입력하세요

In [29]:
'2'/'1'

TypeError: unsupported operand type(s) for /: 'str' and 'str'